@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

button:focus, input:focus{
    outline: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

@media(max-width: 800px) {
    .container{
        padding: 0 15px;
    }
}